:root {--background-modifier-selected: #31425e!important;}

.content-3at_AU {
    background: rgb(1,0,28);
background: linear-gradient(90deg, rgba(1,0,28,0.7231267507002801) 0%, rgba(88,91,121,0) 40%, rgba(39,46,78,0.6923144257703081) 84%);
    
   }
.container-1YxwTf .channelTextArea-1LDbYG {
	margin: 4px 0 0 0;
}

.body-3ND3kc {
	background-color: var(--background-secondary-chat) !important;
	backdrop-filter: blur(5px);
}

.theme-dark{
	--background-primary: transparent;
	--background-primary-alt: #36393ff0;
	--background-secondary-chat: #2f3136a0;
	--background-secondary-alt: #292b2f00;
	--background-logo: #36393fa0;
	--deprecated-card-bg: #36393f4c;
	--deprecated-store-bg: #36393f00;
	--background-attachments: #2f313640;
	--background-search-bar: #202225a0;
	--background-switcher: #2f3136ff;
	--background-chatbox: #20222550;
	--background-lights-out: #000;
	--background-pinned: #2f3136ff;
	--background-profile-expand: #2f3136ff;
	--background-emoji: #2f3136ff;
	--text-lights-out: #f0f0f0;
	--background-titlebar: #2f313650;
}

	.layout-2DM8Md {
    background: rgb(43,38,69);
    background: linear-gradient(0deg, rgba(43,38,69,0.4290091036414566) 0%, rgba(50,60,98,0.227328431372549) 100%);
     
    }
	
	
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: #162a5c;
}
	
	
	






.mainContent-2gfK59 {
    color:#000000;
    
}
  














